.radar {
  display: block;
 margin: auto;
 height:50%;
 background-image: url('img/inferno_radar.png');
}

.background {
 background-color: #262626;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay video{
  position: absolute;
  width=90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    
}

.quitbutton{
  background-color: transparent;
  border: none;
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
    top:10px;
  right: 10px;
  position: absolute;
}


