body {
  background-color: black;
  margin: 0;
}

.container{
position: relative;
width: 100%;
padding:Opx;
background-color: black;
margin: 0;
}

.left{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  background-color: black;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  left:0;
  opacity: 0.9;
  border-style: none;
}

.right{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  background-color: black;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  right:0;
  opacity: 0.9;
  border-style: none;
}